// Fonts
$font-stack: Helvetica, sans-serif !default;

// Colors
$background: rgb(255, 255, 255) !default;
$primary: rgb(35, 35, 35) !default;
$accent: rgb(35, 75, 135) !default;

// Paddings
$text-padding: 16px 8px 16px 8px !default;

// Borders
$border-radius: 2px !default;
